* {
  box-sizing: border-box;
}

.body {
  width: 725px;
  height: 725px;
  margin: 0px;
}

.grey {
  background: #D8D8D8;
  height: 12%;
}

.blueBox {
  height: 70px;
  width: 70px;
  margin-left: 18px;
  margin-top: 10px;
  background: #4A90E2;
  float: left;
}

.white {
  padding: 30px 35px 30px 35px;
  height: 30%;
  font-size: 18px;
  font-family: trebuchet;

}

.blue {
  background: #4A90E2;
  height: 14%;
}

.aqua {
  background: #50E3C2;
  height: 14%;
}

.peaGreen {
  background: #B8E986;
  height: 15%;
}

.yellow {
  background: #F8E71C;
  height: 15%;
}
